body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #0b3d91;
    color: white;
    padding: 30px;
    text-align: center;
}

nav {
    background-color: #1f2937;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 30px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    color: #0b3d91;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1f2937;
    color: white;
}
