body {
  font-family: Arial;
  background: #f8f9fa;
  margin: 0;
}

header {
  background: #0b3d91;
  color: white;
  text-align: center;
  padding: 30px;
}

nav {
  background: #1f2937;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

section {
  padding: 30px;
  margin: 20px;
  background: white;
  border-radius: 8px;
}
